/**
 * ========================================================================
 * ABOUT PAGE STYLES
 * ========================================================================
 * About section layout, profile information, counter statistics section.
 * Includes profile images, professional details, and stat animations.
 */

/**
 * About Section Image
 * ========================================================================
 */
#about .img-thumb img {
  border: 8px solid var(--white);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/**
 * Profile Wrapper & Button Group
 * ========================================================================
 */
.profile-wrapper {
  padding: 45px 0;
}

.profile-wrapper .btn {
  margin: 10px 10px 0px 0px;
}

.profile-wrapper .btn i {
  vertical-align: middle;
  margin-right: 5px;
}

/**
 * Profile Details List
 * ========================================================================
 */
.about-profile {
  position: relative;
  margin: 20px 0 20px 0;
}

.about-profile .pro-title {
  font-weight: 700;
  color: var(--text-darker);
  position: relative;
  width: 120px;
  display: inline-block;
  margin-bottom: 5px;
}

.about-profile .pro-title:after {
  position: absolute;
  content: ':';
  color: var(--text-darker);
  font-size: 14px;
  left: 87px;
}

.about-profile .admin-sign {
  position: absolute;
  right: 45px;
  bottom: 10px;
}

/**
 * Counter / Statistics Section
 * ========================================================================
 */
.counter-section {
  background: url(../img/background/bg-1.jpg);
  overflow: hidden;
  position: relative;
}

.counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-dark);
}

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 30px;
}

.counter-section .counter .icon i {
  font-size: 48px;
  color: var(--primary-color);
}

.counter-section .counter p {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 1px;
  margin: 30px 0;
}

.counter-section .counter .counterUp {
  color: var(--white);
  font-size: 42px;
  margin-top: 15px;
  font-weight: 700;
}
